INPUT_DICOM=/input/tdm_elena_savier_anonymized/PAT_0001_CASE_01
PIPELINE_KIND=abdominal
TOTALSEG_DEVICE=gpu
OUTPUT_BASE_DIR=/output
OUTPUT_ROOT=/output
PYTHON_BIN=python
HEIGHT_CM=
TOTALSEG_LICENSE_NUMBER=
WITH_MUSCLES=1
WITH_ODIASP=1
WITH_TISSUE=1
WITH_TOTAL=1
WITH_TOCSV=1
BUNDLE_NAME=

